/* Write your code here. */
.faq-item {
  border: 1px solid #d7dae6;
  border-radius: 4px;
  padding: 20px;
  list-style-type: none;
}

.question-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 24px;
  color: #52606d;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-btn:focus {
  outline: none;
}

.answer {
  font-size: 20px;
  color: #9aa5b1;
  margin-top: 10px;
}
